{% extends 'base_layout/base.html' %}
{% load account %}

{% block title %}Upload Data{% endblock title %}

{% block style %}
<style>
    .not-visible{
        display:none;
    }
</style>

{% endblock style %}
{% block body %}

<div id="alert-box"></div>
<div id="image-box"></div>

<h5 class="display-5">Upload Data</h5>
<form action="" id="upload-form">
    
    <div class="my-5 w-75">
        <input type="file" class="form-control" id="id_image">
    </div>
    <div>
        <button type="button" id="btn_status" name="uploadFile" class="btn btn-outline-primary not-visible">Processing....</button>
    </div>
</form>



<div id="progress-box" class="not-visible">progress</div>
<div id="cancel-box" class="not-visible mt-3">
    <button class="btn btn-danger" id="cancel-btn">Cancel</button>
</div>

<!-- <div class="progress mt-4">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div> -->

{% endblock body %}

{% block javascript %}

<script>
    // for uploading file with progress bar
    const uploadForm = document.getElementById('upload-form')
    const input = document.getElementById('id_image')
    console.log(input)

    const alertBox = document.getElementById('alert-box')
    const imageBox = document.getElementById('image-box')
    const progressBox = document.getElementById('progress-box')
    const cancelBox = document.getElementById('cancel-box')
    const cancelBtn = document.getElementById('cancel-btn')

    const csrf = $('input [name="csrfmiddlewaretoken"]').val()

    input.addEventListener('change', () => {
        progressBox.classList.remove('not-visible')
        cancelBox.classList.remove('not-visible')
        document.getElementById('btn_status').classList.remove('not-visible')

        const img_data = input.files[0]
        console.log(img_data)

        const fd = new FormData()
        fd.append('csrfmiddlewaretoken',csrf)
        fd.append('image',img_data)

        $.ajax({
            type:'POST',
            url: uploadForm.action,
            enctype:'multipart/form-data',
            data:fd,
            beforeSend: function(){
                alertBox.innerHTML =""
            },
            xhr:function(){
                const xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', e=>{
                    if (e.lengthComputable){
                        const percent = e.loaded/e.total*100
                        console.log(percent)
                        if(percent === 100){
                            alertBox.innerHTML=`<div class="alert alert-primary alert-dismissible" role="alert">
                                File Uploading Compleated, Now Adding entries to the Database.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>`
                            document.getElementById('btn_status').classList.add('not-visible')
                            document.getElementById('btn_status').innerHTML='Data Loading to Database...'
                        }
                        progressBox.innerHTML = `<h5 class="display-5 mt-5">Upload Progress</h5><div class="progress mt-4">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="${percent}%" aria-valuemin="0" aria-valuemax="100" style="width: ${percent}%">${percent.toFixed(1)}</div>
                        </div>`
                    }
                })
                cancelBtn.addEventListener("click", ()=>{
                    xhr.abort();
                    setTimeout(()=>{
                        uploadForm.reset()
                        progressBox.innerHTML = ""
                        alertBox.innerHTML=`<div class="alert alert-warning alert-dismissible" role="alert">
                            File Uploading Cancelled.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`
                        cancelBox.classList.add("not-visible")
                    }, 2000)
                })
                return xhr
            },
            success: function(response){
                alertBox.innerHTML = `<div class="alert alert-success alert-dismissible" role="alert">
                    ${response['message']}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`
                document.getElementById('btn_status').classList.add('not-visible')
                cancelBox.classList.add("not-visible")
            },
            error: function(error){
                alertBox.innerHTML = `<div class="alert alert-danger alert-dismissible" role="alert">
                    An unknown error occurred.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`
                cancelBox.classList.add("not-visible")
                document.getElementById('btn_status').classList.add('not-visible')
                progressBox.innerHTML = ""
                uploadForm.reset()
                console.log(error)
            },
            cache: false,
            contentType: false,
            processData: false
        })
    })
</script>


<script>
    $('#upload_date_menu').css('border-bottom','5px solid black')
    $('#upload_date_menu').css('font-weight','bolder')
    $('#upload_date_menu').css('border-radius','25%')
</script>
{% endblock javascript %}