{% extends 'base_layout/base.html' %}
{% load account %}

{% block title %}Upload Data{% endblock title %}

{% block body %}

<h5 class="display-5">Upload Data</h5>
<form action="">
    
    <div class="my-5 w-75">
        <input type="file" class="form-control">
    </div>
    <div>
        <button type="submit" name="uploadFile" class="btn btn-outline-primary">Start Uploading</button>
    </div>
</form>

<h5 class="display-5 mt-5">Upload Progress</h5>
<div class="progress mt-4">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>

{% endblock body %}

{% block javascript %}

<script>
    $('#upload_date_menu').css('border-bottom','5px solid black')
    $('#upload_date_menu').css('font-weight','bolder')
    $('#upload_date_menu').css('border-radius','25%')
</script>
{% endblock javascript %}